{% extends "DigsCoreBundle::base.html.twig" %}
{% block javascripts %}
<script type="text/javascript" src="{{ asset('bundles/digscore/js/member.js') }}"></script>
{% endblock %}

{% block body -%}
    <p><a class="btn btn-success" href="{{ path('membergroup_new') }}">新しいグループを追加</a></p>
    <div class="panel panel-default">
        <div class="panel-heading">グループ一覧</div>
        {% if entities|length == 0 %}
            <p>ユーザが見つかりません</p>
        {% else %}
            <table class="table table-hover">
                <thead>
                    <tr><th>グループ名</th></tr>
                </thead>
                <tbody>
                    {% for entity in entities %}
                        <tr>
                            <td>{{ entity.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
