# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

bin/doctrine*
nbproject
*php~
src/Digs/ImageConverterBundle/Resources/config/service_parameters.yml
bower_components
node_modules
web/lib
