{% extends "DigsCoreBundle::base.html.twig" %}

{% block body -%}
    <h2>プロフィールの編集</h2>
<div class="row">
    <div class="col-md-6">
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
        {{ include('DigsCoreBundle:Profile:edit_form.html.twig', { 'edit_form': edit_form, 'mode': 'edit' }) }}
        <div class="form-group">
            <button type="submit" class="btn btn-primary">保存</button>
        </div>
    {{ form_end(edit_form) }}
    </div>
</div>
{% endblock %}
