{% extends "DigsCoreBundle::base.html.twig" %}

{% block body -%}
<div class="row">
    <div class="col-md-3">
        <div class="thumbnail">
            <img src="{{ path('profile_image_show', { 'id': entity.id}) }}" alt="profile">
            <div class="caption">
                <h3>{{ entity.nickname }}</h3>
                <p>{{ entity.message }}</p>
            </div>
        </div>
    </div>
    <div class="col-md-9">
    {% for item in profilepanel.items %}
        {{ render(controller(item.controller, item.parameters|merge({ 'profile': entity }))) }}
    {% endfor %}
    </div>
</div>
{% endblock %}
