{% extends "DigsCoreBundle::base.html.twig" %}

{% block body %}
{{ include('DigsEntryBundle:Entry:toppanel.html.twig', { 'entities': entities }) }}
<div class="row">
{{ knp_pagination_render(entities) }}
</div>
{% endblock %}
