{% extends "DigsCoreBundle::base.html.twig" %}

{% block body %}

{% if entities|length > 0 %}
{{ include('DigsEntryBundle:Entry:toppanel.html.twig', { 'entities': entities }) }}

{{ knp_pagination_render(entities) }}

{% else %}
<div class="row">
    <p>エントリーはありません</p>
</div>
{% endif %}
{% endblock %}
