{% extends "DigsCoreBundle::base.html.twig" %}

{% block body -%}
<div class="row">
    <h2>パスワードの発行</h2>
    <div class="alert alert-success">新しいパスワードを送信しました。メールを確認してください。</div>
</div>
{% endblock %}
