{% extends "DigsCoreBundle::base.html.twig" %}

{% block body -%}
<div class="row">
    <h2>パスワードの発行</h2>
    <div class="alert alert-success">
        <p>パスワードを変更しました。<a href="{{ path('login') }}" class="alert-link">こちら</a>からログインしてください。</p>
    </div>
</div>
{% endblock %}
