{% extends "DigsCoreBundle::base.html.twig" %}

{% block body -%}
<div class="row">
    <div class="alert alert-success">
        <p>ユーザー登録が完了しました。<a href="{{ path('login') }}" class="alert-link">こちら</a>からログインしてください。</p>
    </div>
</div>
{% endblock %}
