{% extends "DigsCoreBundle::base.html.twig" %}

{% block body -%}
{% set index = 0 %}
{% for entity in entities %}
{% if index % 4 == 0 %}
<div class="row">
{% endif %}
    <div class="col-md-3">
        <a href="#" class="thumbnail">
            <div class="caption">{{ entity.title }}</div>
            <img src="{{ path('photo_thumbnail_show', {'prefix': prefix, 'id': entity.file }) }}" />
        </a>
    </div>
{% set index = index + 1 %}
{% if index % 4 == 0 %}
</div>
{% endif %}
{% endfor %}
{% if index % 4 != 0 %}
</div>
{% endif %}
<div class="row">
{{ knp_pagination_render(entities) }}
</div>
{% endblock %}
