{% extends "DigsCoreBundle::base.html.twig" %}

{% block body %}
{% if entities|length > 0 %}
{{ include('DigsInformationBundle:Information:toppanel.html.twig', { 'entities': entities }) }}

{{ knp_pagination_render(entities) }}

{% else %}
<div class="row">
    <p>お知らせはありません</p>
</div>
{% endif %}
{% endblock %}
