{% extends "DigsCoreBundle::base.html.twig" %}

{% block body -%}
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{{ entity.title }} <small>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</small>
{#
{% if app.user.id == entity.member.id %}
 <a class="btn btn-default btn-sm" href="{{ path('entry_edit', { 'id': entity.id }) }}">編集</a>
{% endif %}
#}
            </h2>
        </div>
        <div class="panel-body">{{ entity.message|raw }}</div>
    </div>
</div>
{% endblock %}
